<div>Deze contactpersoon is momenteel</div>
<WebComponents::AuRadioList {{ did-insert (fn this.onRenderStatus @value)}}>
  {{#each this.contactStatus as |status|}}
    <WebComponents::AuRadio
      @name={{'status'}}
      @checked={{if (eq this.checked status.label) true false}}
      @label={{ capitalize status.label }}
      {{ on 'click' (fn this.onSelectStatus @onInput status.label)}}/>
  {{/each}}
</WebComponents::AuRadioList>