<div class="auk-form-group" ...attributes>
  <Auk::Label for="organization">
    {{@label}}
  </Auk::Label>
  {{#unless this.loadOrganizations.isRunning}}
    {{#if @multiple}}
      <PowerSelectMultiple
        @options={{this.organizations}}
        @selected={{@selected}}
        @searchEnabled={{true}}
        @searchField="searchLabel"
        @onChange={{@onChange}} as |organization|>
        {{organization.searchLabel}}
      </PowerSelectMultiple>
    {{else}}
      <PowerSelect
        @options={{this.organizations}}
        @selected={{@selected}}
        @searchEnabled={{true}}
        @searchField="searchLabel"
        @onChange={{@onChange}} as |organization|>
        {{organization.searchLabel}}
      </PowerSelect>
    {{/if}}
  {{/unless}}
</div>