<div class="auk-form-group" ...attributes>
  <Auk::Label for="organization">
    {{@label}}
  </Auk::Label>
  {{#unless this.loadOrganizations.isRunning}}
    <PowerSelect
      @options={{this.organizations}}
      @selected={{@selected}}
      @searchEnabled={{true}}
      @searchField="name"
      @onChange={{@onChange}} as |organization|>
      {{organization.name}}
    </PowerSelect>
  {{/unless}}
</div>