<table class="publication-channel-table">
  <th class="table-cell-name">Publicatiekanaal</th>
  <th class="table-cell">Toon telefoonnummer</th>
  <th class="table-cell">Toon mobiel nummer</th>
  <th class="table-cell">Toon e-mailadres</th>

  {{#each this.publicationChannels as |channel index|}}
    <tr class="table-row">
      <td class="table-cell-name">{{channel.name}}</td>
      <td class="table-cell"><Input @type="checkbox" checked={{channel.telefoon}} {{on "input" (fn this.changePublicationChannels 'telefoon' index @onInput)}}/></td>
      <td class="table-cell"><Input @type="checkbox" checked={{channel.mobiel}} {{on "input" (fn this.changePublicationChannels 'mobiel' index @onInput)}}/></td>
      <td class="table-cell"><Input @type="checkbox" checked={{channel.email}} {{on "input" (fn this.changePublicationChannels 'email' index @onInput)}}/></td>
    </tr>
  {{/each}}
</table>