<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-my-4">
      {{#if @model.length}}
        <table class="auk-table">
          <thead>
            <tr>
              {{#if @onSortChange}}
                <Utils::ThSortable
                  @label="Naam bestemmelingen"
                  @field="full-name"
                  @currentSorting={{@sort}}
                  @onChange={{@onSortChange}}
                />
                <Utils::ThSortable
                  @label="E-mailadres"
                  @field="mail-address.value"
                  @currentSorting={{@sort}}
                  @onChange={{@onSortChange}}
                />
                <Utils::ThSortable
                  @label="Telefoonnummer"
                  @field="telephone.value"
                  @currentSorting={{@sort}}
                  @onChange={{@onSortChange}}
                />
                <Utils::ThSortable
                  @label="Organisatie"
                  @field="organization-name"
                  @currentSorting={{@sort}}
                  @onChange={{@onSortChange}}
                />
              {{else}}
                <th>
                  Naam contactpersoon
                </th>
                <th>
                  E-mailadres
                </th>
                <th>
                  Telefoonnummer
                </th>
                <th>
                  Organisatie
                </th>
              {{/if}}
              {{#if @isEditEnabled}}
                <th>
                  {{!-- open detail --}}
                </th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each (if @onSortChange @model (sort-by "givenName" @model)) as |row|}}
              <tr>
                <td class="auk-u-text-nowrap">
                  {{row.fullName}}
                </td>
                <td>
                  {{row.mailAddress.value}}
                </td>
                <td>
                  {{row.telephone.value}}
                </td>
                <td>
                  {{row.organizationName}}
                </td>
                {{#if @isEditEnabled}}
                  <td>
                    <Auk::Button
                      @layout="icon-only"
                      @icon="chevron-right"
                      @skin="borderless"
                      {{on "click" (fn @onOpenContactItem row)}}
                    />
                  </td>
                {{/if}}
                {{#if @onRemoveContactItem}}
                  <td>
                    <Auk::Button
                      @layout="icon-only"
                      @icon="trash"
                      @skin="danger-borderless"
                      {{on "click" (fn @onRemoveContactItem row)}}
                    />
                  </td>
                {{/if}}
              </tr>
            {{/each}}
          </tbody>
        </table>

        {{#if @onSortChange}}
          <Auk::Toolbar as |Toolbar|>
            <Toolbar.Group @position="left" as |Group|>
              <Group.Item>
                <Auk::Pagination
                  @page={{@page}}
                  @size={{@size}}
                  @nbOfItems={{@model.length}}
                  @total={{@model.meta.count}}
                  @onNextPage={{@onNextPage}}
                  @onPreviousPage={{@onPreviousPage}}
                />
              </Group.Item>
            </Toolbar.Group>
            <Toolbar.Group @position="right" as |Group|>
              <Group.Item>
                Contactpersonen per pagina
              </Group.Item>
              <Group.Item>
                <WebComponents::AuPageSize
                  @selectedSize={{@size}}
                  @onChange={{@onPageSizeChange}}
                />
              </Group.Item>
            </Toolbar.Group>
          </Auk::Toolbar>
        {{/if}}
      {{else}}
        <Auk::Panel>
          <Auk::Panel::Body>
            <Auk::EmptyState @message={{@noDataMessage}} />
          </Auk::Panel::Body>
        </Auk::Panel>
      {{/if}}
    </div>
  </div>
</div>
