{{page-title "Overzicht"}}

<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group  @position="left">
      <Auk::Toolbar::Item>
        <div class="o-flex o-flex--vertical auk-u-mt-2">
          <div class="o-flex o-flex--vertical-center">
            <h4 class="auk-toolbar-complex__title">Persberichten</h4>
          </div>
          <Auk::Tabs @reversed="true" as |Tabs|>
            <Tabs.Tab
              @route="press-releases.overview.concept">
              Concepten
            </Tabs.Tab>
            <Tabs.Tab
              @route="press-releases.overview.shared">
              Gedeeld
            </Tabs.Tab>
            <Tabs.Tab
              @route="press-releases.overview.planned">
              Gepland voor publicatie
            </Tabs.Tab>
            <Tabs.Tab
              @route="press-releases.overview.published">
              Gepubliceerd
            </Tabs.Tab>
          </Auk::Tabs>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
    <Auk::Toolbar::Group  @position="right">
      <Auk::Toolbar::Item>
        <Auk::Button
          @icon="add"
          @skin="primary"
          {{on "click" this.openNewPressReleaseModal}}
        >
          Persbericht aanmaken
        </Auk::Button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
  </Auk::Toolbar>
</Auk::Navbar>

{{#if this.showNewPressReleaseModal}}
  <PressRelease::NewPressReleaseModal
    @onCancel={{this.closeNewPressReleaseModal}}
    @onCreate={{perform this.createNewPressRelease}}
    @loading={{this.createNewPressRelease.isRunning}}
  />
{{/if}}

{{outlet}}