<Auk::Navbar @skin="gray-100" @size="large">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          @route="press-releases.overview"
        />
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <div class="auk-overline auk-u-block auk-u-muted">
          Persberichten
        </div>
        <h2 class="auk-toolbar__title">
          {{this.model.title}}
          {{#if this.model.publicationEvent}}
            {{#if this.model.publicationEvent.started}}
              <Auk::Pill class="auk-u-ml">
                Gepubliceerd op {{dayjs-format this.model.publicationEvent.started outputFormat="DD-MM-YYYY [om] HH:mm"}}
              </Auk::Pill>
            {{else}}
              <Auk::Pill class="auk-u-ml">
                Wordt gepubliceerd op {{dayjs-format this.model.publicationEvent.plannedStartDate outputFormat="DD-MM-YYYY [om] HH:mm"}}
              </Auk::Pill>
            {{/if}}
          {{/if}}
        </h2>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        <WebComponents::AuStatusPill @status="done">
          {{dayjs-from-now this.model.modified}} opgeslagen
        </WebComponents::AuStatusPill>
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <Auk::Button
          @skin="primary"
          @icon="chevron-down"
          @layout="icon-right"
          {{on "click" this.openPublishDropdown}}>
          Publiceren
        </Auk::Button>
        {{#if this.showPublishDropdown}}
          {{!-- TODO use popper library to make dropdown disappear on click outside --}}
          <Auk::Dropdown>
            <div class="auk-menu__item" role="button" {{on "click" this.openPublicationModal}}>
              Nu publiceren
            </div>
            <div class="auk-menu__item" role="button" {{on "click" this.openPublicationPlanningModal}}>
              {{#if this.model.publicationEvent.isPlanned}}
                Planning bewerken
              {{else}}
                Later publiceren
              {{/if}}
            </div>
          </Auk::Dropdown>
        {{/if}}
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</Auk::Navbar>

<PressRelease::Form @pressRelease={{this.model}} />

{{#if this.showPublicationModal}}
  <PressRelease::PublicationModal
    @onCancel={{this.closePublicationModal}}
    @onPublish={{perform this.publish}}
    @loading={{this.publish.isRunning}}
  />
{{/if}}

{{#if this.showPublicationPlanningModal}}
  <PressRelease::PublicationPlanningModal
    @plannedDate={{this.model.publicationEvent.plannedStartDate}}
    @onCancel={{this.closePublicationPlanningModal}}
    @onPublish={{perform this.publish}}
    @loading={{this.publish.isRunning}}
  />
{{/if}}

{{outlet}}