<Auk::Modal>
  <Auk::Modal::Header
    @title="Wilt u deze bron verwijderen?"
    @closeable={{false}}
  />
  <Auk::Modal::Body>
    <p>
      Weet u zeker dat u contact <strong>{{@source.fullName}}</strong> wilt verwijderen?
    </p>
    <p  style={{"color: #DB3434"}}>
      Alle contactgegevens van deze bron zullen verwijderd worden op de volgende pagina's:
    </p>
    <ul>
      <li>persberichten</li>
      <li>contactpagina's</li>
      <li>...</li>
    </ul>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Button
      @skin="danger-primary"
      @loading={{@loading}}
      @icon="delete"
      {{on "click" @onConfirm}}
    >
      Verwijderen
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>
