<Auk::Navbar @skin="white" @noPadding="true">
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <Auk::Brand @logotype="Vlivia" />
      </Group.Item>
      <Group.Item>
        <Auk::Tabs as |Tabs|>
          <Tabs.Tab @route="press-releases">
            Persberichten
          </Tabs.Tab>
          <Tabs.Tab @route="contacts">
            Bestemmelingen
          </Tabs.Tab>
          <Tabs.Tab @route="sources">
            Perscontacten
          </Tabs.Tab>
        </Auk::Tabs>
      </Group.Item>
    </Toolbar.Group >
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item>
        <Auk::DropdownMenu
          @type="button-link"
          @skin="muted"
          @icon="circle-question"
          @layout="icon-left"
          @padded="padded"
          @label="Help"
          as |Menu|>
          {{!-- TODO: PERS-162 change to Vlivia support emailaddress --}}
          <Menu.Item @href="mailto:kaleidos.servicedesk@vlaanderen.be">
            <p>
              Contacteer ons
            </p>
            <p class="auk-u-text-muted auk-u-text-size--small">
              kaleidos.servicedesk@vlaanderen.be
            </p>
          </Menu.Item>
        </Auk::DropdownMenu>
      </Group.Item>
      <Group.Item class="auk-u-mr-3">
        {{#if this.session.isAuthenticated}}
          <Auk::DropdownMenu
            @type="button-link"
            @skin="muted"
            @label={{this.currentSession.user.firstName}}
            @placement="bottom-end"
            as |Menu|>
            <Menu.Item @textOnly={{true}}>
              <Auk::Avatar @icon="user" @name="Admin">
                <p>
                  {{this.currentSession.user.fullName}}
                </p>
                <p class="auk-u-text-muted auk-u-text-size--small">
                  {{or this.currentSession.organization.shortName
                      this.currentSession.organization.name
                      this.currentSession.organization.identifier}}
                </p>
              </Auk::Avatar>
            </Menu.Item>
            <Menu.Divider />
            <Menu.Item {{on "click" this.logout}}>
              Afmelden
            </Menu.Item>
          </Auk::DropdownMenu>
        {{/if}}
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>
