<Auk::Navbar @skin="white" @noPadding="true">
  <Auk::Toolbar>
    <Auk::Toolbar::Group  @position="left">
      <Auk::Toolbar::Item>
        <Auk::Brand @logotype="Vlivia" />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Tabs>
          <Auk::Tab  @route="press-releases.overview">
            Persberichten
          </Auk::Tab>
          <Auk::Tab  @route="contacts">
            Contacten
          </Auk::Tab>
          <Auk::Tab  @route="sources.overview">
            Bronnen
          </Auk::Tab>
        </Auk::Tabs>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
    <Auk::Toolbar::Group  @position="right">
      <Auk::Toolbar::Item>
        <DropdownMenu
          @skin="muted"
          @label="Help"
          @icon="circle-question"
          @padded="padded"
          as |Menu|>
          <Menu.Item>
            Contacteer ons
            {{!-- TODO: PERS-162 mail naar support emailadres --}}
          </Menu.Item>
        </DropdownMenu>
      </Auk::Toolbar::Item>
      {{#if this.session.isAuthenticated}}
        <Auk::Toolbar::Item>
          <DropdownMenu
            @skin="muted"
            @label={{this.currentSession.user.firstName}}
            @padded="padded"
            as |Menu|>
              <Menu.Item @skin="2-lines" @disabled={{true}}>
                <div class="o-flex o-flex--vertical">
                  <div>{{this.currentSession.user.fullName}}</div>
                  <div>{{this.currentSession.user.group.name}}</div>
                </div>
              </Menu.Item>
              <Menu.Divider />
              <Menu.Item
                {{on "click" this.logout}}>
                Afmelden
              </Menu.Item>
          </DropdownMenu>
        </Auk::Toolbar::Item>
      {{/if}}
    </Auk::Toolbar::Group >
  </Auk::Toolbar>
</Auk::Navbar>
