<WebComponents::AuModal>
  <div class="full-screen-container">
    <div class="modal-container publish-modal">
      <div class="modal-header flex-spacebetween ">
        <h1>{{@headerText}}</h1>
        <WebComponents::AuButton @skin="borderless" {{ on 'click' @closeModal}}>
          <WebComponents::AuIcon class="margin-right-small" @name="close"/>
        </WebComponents::AuButton>
      </div>
      <div class="datepicker-flex">
        <WebComponents::AuDatepicker
          @class="modal-datepicker"
          @onChange={{@onChange}}
          @placeholder="dd/mm/jjjj" />
      </div>
      <div class="button-container">
        <WebComponents::AuButton @skin="borderless" {{ on 'click' @closeModal}}>
          Annuleren
        </WebComponents::AuButton>
        <WebComponents::AuButton @skin="primary" {{ on 'click' @action}}>
          {{@buttonLabel}}
        </WebComponents::AuButton>
      </div>
    </div>
  </div>
</WebComponents::AuModal>