<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-my-4">
      {{#if @model.length}}
        <table class="auk-table">
          <thead>
            <tr>
              <th>
                Naam bijlage
              </th>
              <th>
                Grootte bestand
              </th>
              <th>
                Type bestand
              </th>
              <th>
                {{!-- remove source --}}
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each (sort-by "name" @model) as |row|}}
              <tr>
                <td class="auk-u-text-nowrap">
                  {{row.name}}
                </td>
                <td>
                  {{row.humanReadableSize}}
                </td>
                <td>
                  <Utils::FileTypePill @extension={{row.extension}}/>
                </td>
                <td>
                  <Auk::Button
                    @layout="icon-only"
                    @icon="delete"
                    @skin="danger-borderless"
                    {{on "click" (fn @onRemoveAttachment row)}}
                  />
                  <Auk::Button
                    @layout="icon-only"
                    @icon="download"
                    @skin="borderless"
                    @href={{row.namedDownloadLink}}
                    download={{row.name}}
                  />
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <Auk::Panel>
          <Auk::Panel::Body>
            <Auk::EmptyState @message={{@noDataMessage}} />
          </Auk::Panel::Body>
        </Auk::Panel>
      {{/if}}
    </div>
  </div>
</div>