<div class="auk-u-mt-8 auk-container auk-container--center">
  <div class="auk-u-mt-8">
    <h2 class="auk-h2">Bericht</h2>
    <div class="auk-form-group-layout auk-form-group-layout--standard">
      <div class="auk-form-group">
        <Auk::Label for="title">
          Titel
        </Auk::Label>
        <Auk::Input
          type="text"
          id="title"
          @block={{true}}
          value={{@pressRelease.title}}
          {{on "input" (fn this.setInputValue @pressRelease "title")}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label for="message">
          Bericht
        </Auk::Label>
        <Auk::Textarea
          type="text"
          id="message"
          @block={{true}}
          @rows={{10}}
          value={{@pressRelease.htmlContent}}
          {{on "input" (fn this.setInputValue @pressRelease "htmlContent")}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label for="abstract">
          Samenvatting
        </Auk::Label>
        <Auk::Textarea
          type="text"
          id="abstract"
          @block={{true}}
          @rows={{5}}
          value={{@pressRelease.abstract}}
          {{on "input" (fn this.setInputValue @pressRelease "abstract")}}
        />
      </div>
      <div class="auk-form-group">
        <Auk::Label>
          Kernwoorden
        </Auk::Label>
        <Auk::InputPills
          @items={{@pressRelease.keywords}}
          @onCreate={{this.addKeyword}}
          @onRemove={{this.deleteKeyword}} as |keyword|>
          {{keyword}}
        </Auk::InputPills>
      </div>
      <div class="auk-form-group">
        <Auk::Label>
          Beleidsbevoegdheden
        </Auk::Label>
        <InputField::GovernmentFieldSelect
          @selectedGovernmentFields={{@pressRelease.governmentFields}}
          @onChange={{this.setGovernmentFields}}/>
      </div>
      <div class="auk-form-group">
        <Auk::Label>
          Thema's
        </Auk::Label>
        <InputField::ThemesSelection
          @selectedThemes={{@pressRelease.themes}}
          @onChange={{this.setThemes}}
          />
      </div>
      <h3 class="auk-h3">Ontvangers</h3>
      <div class="auk-form-group">
        <h4 class="auk-h4">Publicatiekanalen</h4>
        <InputField::PressReleasePublicationChannels
          @publicationChannels={{@pressRelease.publicationChannels}}
          @onChange={{this.setPublicationChannels}}/>
      </div>
    </div>
  </div>
</div>
