{{#if @activity.isCreationActivity}}
  <div class="auk-procedure-step">
    <div class="auk-procedure-step__badge-wrapper">
      <Auk::Badge @icon="add" />
    </div>
    <div class="auk-procedure-step__content">
      <h4 class="auk-procedure-step__title auk-u-text-small">
        Persbericht aangemaakt
      </h4>
      <p class="auk-u-text-small auk-u-text-muted">
        door {{or @activity.organization.shortName @activity.organization.name}}
      </p>
      <p class="auk-u-text-small auk-u-text-muted">
        om {{dayjs-format @activity.startDate outputFormat="DD-MM-YYYY HH:mm"}}
      </p>
    </div>
  </div>
{{else if @activity.isEditActivity}}
  <div class="auk-procedure-step">
    <div class="auk-procedure-step__badge-wrapper">
      <Auk::Badge @icon="edit" />
    </div>
    <div class="auk-procedure-step__content">
      <h4 class="auk-procedure-step__title auk-u-text-small">
        Persbericht bewerkt
      </h4>
      <p class="auk-u-text-small auk-u-text-muted">
        door {{or @activity.organization.shortName @activity.organization.name}}
      </p>
      <p class="auk-u-text-small auk-u-text-muted">
        om {{dayjs-format @activity.startDate outputFormat="DD-MM-YYYY HH:mm"}}
      </p>
    </div>
  </div>
{{else if @activity.isApprovalActivity}}
  <div class="auk-procedure-step">
    <div class="auk-procedure-step__badge-wrapper">
      <Auk::Badge @icon="user-check" />
    </div>
    <div class="auk-procedure-step__content">
      <h4 class="auk-procedure-step__title auk-u-text-small">
        Persbericht goedgekeurd
      </h4>
      <p class="auk-u-text-small auk-u-text-muted">
        door {{or @activity.organization.shortName @activity.organization.name}}
      </p>
      <p class="auk-u-text-small auk-u-text-muted">
        om {{dayjs-format @activity.startDate outputFormat="DD-MM-YYYY HH:mm"}}
      </p>
    </div>
  </div>
{{else if @activity.isSharingActivity}}
  <div class="auk-procedure-step">
    <div class="auk-procedure-step__badge-wrapper">
      <Auk::Badge @icon="user-add" />
    </div>
    <div class="auk-procedure-step__content">
      <h4 class="auk-procedure-step__title auk-u-text-small">
        Persbericht gedeeld
      </h4>
      <p class="auk-u-text-small auk-u-text-muted">
        door {{or @activity.organization.shortName @activity.organization.name}}
      </p>
      {{!-- TODO add list of collaborators --}}
      <p class="auk-u-text-small auk-u-text-muted">
        om {{dayjs-format @activity.startDate outputFormat="DD-MM-YYYY HH:mm"}}
      </p>
    </div>
  </div>
{{else if @activity.isUnsharingActivity}}
  <div class="auk-procedure-step">
    <div class="auk-procedure-step__badge-wrapper">
      <Auk::Badge @icon="cross" />
    </div>
    <div class="auk-procedure-step__content">
      <h4 class="auk-procedure-step__title auk-u-text-small">
        Delen gestopt
      </h4>
      <p class="auk-u-text-small auk-u-text-muted">
        door {{or @activity.organization.shortName @activity.organization.name}}
      </p>
      <p class="auk-u-text-small auk-u-text-muted">
        om {{dayjs-format @activity.startDate outputFormat="DD-MM-YYYY HH:mm"}}
      </p>
    </div>
  </div>
{{/if}}
