<div class="auk-u-mt-8 auk-container auk-container--center">
  <div class="auk-u-mt-8">
    <div class="auk-form-group-layout auk-form-group-layout--horizontal">
      <div class="auk-form-group">
        <Auk::Label for="title">
          Titel
        </Auk::Label>
        <h2 class="auk-h2">{{@pressRelease.title}}</h2>
      </div>
      <div class="auk-form-group">
        <Auk::Label for="abstract">
          Samenvatting
        </Auk::Label>
        <p>{{@pressRelease.abstract}}</p>
      </div>
      <div class="auk-form-group">
        <Auk::Label for="message">
          Inhoud
        </Auk::Label>
        <p>{{@pressRelease.htmlContent}}</p>
      </div>
      <div class="auk-form-group">
        <Auk::Label>
          Bron
        </Auk::Label>
        <ul>
          {{#each @pressRelease.sources as |source|}}
            <li>
              {{source.fullName}}
              {{!-- {{source.organization}} --}}
              {{!-- uncomment when link is made --}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="auk-form-group">
        <Auk::Label>
          Beleidsbevoegdheden
        </Auk::Label>
        <ul>
          {{#each @pressRelease.governmentFields as |governmentField|}}
            <li>
              {{governmentField.prefLabel}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="auk-form-group">
        <Auk::Label>
          Kernwoorden
        </Auk::Label>
        <ul>
          {{#each @pressRelease.keywords as |keyword|}}
            <li>
              {{keyword}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="auk-form-group">
        <Auk::Label>
          Thema's
        </Auk::Label>
        <ul>
          {{#each @pressRelease.themes as |theme|}}
            <li>
              {{theme.label}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="auk-form-group">
        <Auk::Label>
          Publicatiekanalen
        </Auk::Label>
        <ul>
          {{#each @pressRelease.publicationChannels as |publicationChannel|}}
            <li>
              {{publicationChannel.name}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="auk-form-group">
        <Auk::Label>
          Bijlagen
        </Auk::Label>
        <ul>
          {{#each @pressRelease.attachments as |attachment|}}
            <li>
              <Utils::FileTypePill @extension={{attachment.extension}}/> {{attachment.name}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
