<Auk::Modal>
  <Auk::Modal::Header
    @title="Bronnen toevoegen"
    @onClose={{this.cancel}}
  />
  <Auk::Modal::Body>
    <div class="auk-form-group-layout auk-form-group-layout--standard">
      <div class="auk-form-group">
        <Auk::Label for="publication-date">
          Bronnen
        </Auk::Label>
        <PowerSelectMultiple
          @options={{this.sources}}
          @selected={{this.selectedSources}}
          @noMatchesMessage="Geen resultaten gevonden"
          @placeholder="Bronnen zoeken"
          @onChange={{this.selectSources}}
          @allowClear={{true}}
          @searchEnabled={{true}}
          @onInput={{perform this.debouncedSearch}}
          @searchField="fullName"
          as |source|>
          {{ source.fullName }}
        </PowerSelectMultiple>
      </div>
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{this.cancel}}>
    <Auk::Button
      @skin="primary"
      @loading={{@loading}}
      @disabled={{(not this.selectedSources)}}
      {{on "click" this.addSources}}
    >
      Toevoegen
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>