<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-my-4">
      {{#if @model.length}}
        <table class="auk-table">
          <thead>
            <tr>
              <th>
                Naam
              </th>
              <th>
                Functie
              </th>
              <th>
                Organisatie
              </th>
              <th>
                E-mailadres
              </th>
              {{#unless @condensedView}}
                <th class="auk-u-text-nowrap">
                  Laatst bewerkt
                </th>
              {{/unless}}
              {{#if @onRemoveSource}}
                <th>
                  {{!-- remove button --}}
                </th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each (sort-by "fullName" @model) as |row|}}
              <tr>
                <td class="auk-u-text-nowrap">
                  {{row.fullName}}
                </td>
                <td>
                  {{row.role}}
                </td>
                <td>
                  {{or row.organization.shortName row.organization.name}}
                </td>
                <td>
                  {{row.mailAddress.value}}
                </td>
                {{#unless @condensedView}}
                  <td class="auk-u-text-nowrap">
                    {{dayjs-format row.modified outputFormat="DD-MM-YYYY"}}<br/>
                    <span class="auk-u-text-size--small auk-u-text-muted">
                      {{dayjs-format row.modified outputFormat="HH:mm"}}
                    </span>
                  </td>
                {{/unless}}
                {{#if @onRemoveSource}}
                  <td>
                    <Auk::Button
                      @layout="icon-only"
                      @icon="trash"
                      @skin="danger-borderless"
                      {{on "click" (fn @onRemoveSource row)}}
                    />
                  </td>
                {{/if}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <Auk::Panel>
          <Auk::Panel::Body>
            <Auk::EmptyState @message={{@noDataMessage}} />
          </Auk::Panel::Body>
        </Auk::Panel>
      {{/if}}
    </div>
  </div>
</div>
