<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-my-4">
      {{#if @model.length}}
        <table class="auk-table">
          <thead>
            <tr>
              <Utils::ThSortable
                @label="Persbericht"
                @field="title"
                @currentSorting={{@sort}}
                @onChange={{@onSortChange}}
              />
              <Utils::ThSortable
                @label="Thema's"
                @field="themes"
                @currentSorting={{@sort}}
                @onChange={{@onSortChange}}
              />
              <Utils::ThSortable
                @label="Aangemaakt door"
                @field="creator.name"
                @currentSorting={{@sort}}
                @onChange={{@onSortChange}}
              />
              {{#if (and (not @plannedRoute) (not @publishedRoute))}}
                <Utils::ThSortable
                  @label="Laatst bewerkt"
                  @field="modified"
                  @currentSorting={{@sort}}
                  @onChange={{@onSortChange}}
                />
              {{/if}}
              {{#if @publishedRoute}}
                <Utils::ThSortable
                  @label="Gepubliceerd op"
                  @field="publication-event.planned-start-date"
                  @currentSorting={{@sort}}
                  @onChange={{@onSortChange}}
                />
              {{/if}}
              {{#if @plannedRoute}}
                <Utils::ThSortable
                  @label="Gepland voor publicatie op"
                  @field="publication-event.planned-start-date"
                  @currentSorting={{@sort}}
                  @onChange={{@onSortChange}}
                />
              {{/if}}
              <th>
                {{!-- open detail --}}
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each @model as |row|}}
              <tr>
                <td>
                  {{row.title}}
                </td>
                <td>
                  {{#each row.themes as |theme|}}
                    <Auk::Pill>
                      {{theme.label}}
                    </Auk::Pill>
                  {{/each}}
                </td>
                <td>
                  {{or row.creator.shortName row.create.name}}
                </td>

                {{#if (and (not @plannedRoute) (not @publishedRoute))}}
                  <td>
                    {{dayjs-format row.modified outputFormat="DD-MM-YYYY"}}<br/>
                    <span class="auk-u-text-small auk-u-text-muted">
                      {{dayjs-format row.modified outputFormat="HH:mm"}}
                    </span>
                  </td>
                {{/if}}

                {{#if @publishedRoute}}
                  <td>
                    {{dayjs-format row.publicationEvent.plannedStartDate outputFormat="DD-MM-YYYY"}}<br/>
                    <span class="auk-u-text-small auk-u-text-muted">
                      {{dayjs-format row.publicationEvent.plannedStartDate outputFormat="HH:mm"}}
                    </span>
                  </td>
                {{/if}}

                {{#if @plannedRoute}}
                  <td>
                    {{dayjs-format row.publicationEvent.plannedStartDate outputFormat="DD-MM-YYYY"}}<br/>
                    <span class="auk-u-text-small auk-u-text-muted">
                      {{dayjs-format row.publicationEvent.plannedStartDate outputFormat="HH:mm"}}
                    </span>
                  </td>
                {{/if}}
                <td>
                  <LinkTo
                    @route="press-releases.press-release.edit"
                    @model={{row.id}}
                    class="auk-button auk-button--borderless auk-button--icon">
                    <span class="auk-button__content">
                      <i class="ki ki-chevron-right"></i>
                    </span>
                  </LinkTo>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <Auk::Toolbar as |Toolbar|>
          <Toolbar.Group @position="left" as |Group|>
            <Group.Item>
              <Auk::Pagination
                @page={{@page}}
                @size={{@size}}
                @nbOfItems={{@model.length}}
                @total={{@model.meta.count}}
                @onNextPage={{@onNextPage}}
                @onPreviousPage={{@onPreviousPage}}
              />
            </Group.Item>
          </Toolbar.Group>
          <Toolbar.Group @position="right" as |Group|>
            <Group.Item>
              Persberichten per pagina
            </Group.Item>
            <Group.Item>
              <WebComponents::AuPageSize
                @selectedSize={{@size}}
                @onChange={{@onPageSizeChange}}
              />
            </Group.Item>
          </Toolbar.Group>
        </Auk::Toolbar>
      {{else}}
        <Auk::Panel>
          <Auk::Panel::Body>
            <Auk::EmptyState @message={{@noDataMessage}} />
          </Auk::Panel::Body>
        </Auk::Panel>
      {{/if}}
    </div>
  </div>
</div>
