{{page-title "Verzendlijst"}}

<Auk::Navbar @skin="gray-100" @size="large">
  <Auk::Toolbar>
    <Auk::Toolbar::Group  @position="left">
      <Auk::Toolbar::Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          {{on "click" this.navigateBack}}
        />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <div class="auk-overline auk-u-block auk-u-text-muted">
          Verzendlijsten
        </div>
        <h2 class="auk-toolbar__title">
          {{this.contactList.name}}
        </h2>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
    <Auk::Toolbar::Group  @position="right">
      {{#if this.isEditEnabled}}
        <Auk::Toolbar::Item>
          <Auk::StatusPill @status="success">
            {{dayjs-from-now this.contactList.modified}} opgeslagen
          </Auk::StatusPill>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary"
            @loading={{this.saveAndDisableEdit.isRunning}}
            {{on "click" (perform this.updateContactList)}}
          >
            Opslaan
          </Auk::Button>
        </Auk::Toolbar::Item>
      {{else}}
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="danger-secondary"
            {{on "click" this.openDeleteContactListModal}}
          >
            Verwijderen
          </Auk::Button>
        </Auk::Toolbar::Item>
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary"
            {{on "click" this.enableEdit}}
          >
            Bewerken
          </Auk::Button>
        </Auk::Toolbar::Item>
      {{/if}}
    </Auk::Toolbar::Group >
  </Auk::Toolbar>
</Auk::Navbar>

<div class="auk-u-m-8">
  <div class="auk-o-flex auk-o-flex--align-baseline auk-o-flex--justify-between">
    {{#if this.isEditEnabled}}
      <div class="auk-form-group">
        <Auk::Label>
          Naam verzendlijst
        </Auk::Label>
        <Auk::Input
          type="text"
          @value={{this.contactList.name}}
          {{on "input" (fn this.setInputValue "name")}}
        />
      </div>
    {{else}}
      <h1 class="auk-h1">{{this.contactList.name}}</h1>
    {{/if}}
    <Auk::Button
      @skin="secondary"
      @icon="add"
      {{on "click" this.createNewContact}}
    >
      Bestemmeling toevoegen
    </Auk::Button>
  </div>

  <ContactItem::Table
    @model={{@model}}
    @sort={{this.sort}}
    @page={{this.page}}
    @size={{this.size}}
    @onSortChange={{this.setSort}}
    @onNextPage={{this.nextPage}}
    @onPreviousPage={{this.prevPage}}
    @onPageSizeChange={{this.setPageSize}}
    @onOpenContactItem={{this.openContactItem}}
    @isEditEnabled={{true}}
    @noDataMessage="Geen contactpersonen gevonden"
  />
</div>
{{#if this.showConfirmationModal}}
  <DiscardChangesModal
    @onCancel={{this.cancelNavigationBack}}
    @onConfirm={{this.confirmNavigationBack}}
  />
{{/if}}
{{#if this.showContactItemModal}}
  <ContactItem::Modal
    @isNewContact={{this.selectedContact.isNew}}
    @contact={{this.selectedContact}}
    @onCancel={{this.cancelContactModal}}
    @onAddContact={{this.addContact}}
    @onChangeContact={{this.updateContact}}
    @onDeleteContact={{this.deleteContact}}
  />
{{/if}}
{{#if this.showDeleteContactListModal}}
  <MailingList::DeleteConfirmationModal
    @loading={{this.confirmDeletion.isRunning}}
    @onCancel={{this.closeDeleteContactListModal}}
    @onConfirm={{perform this.confirmDeletion}}
  />
{{/if}}

{{outlet}}
