{{page-title "Overzicht"}}

<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <div class="o-flex o-flex--vertical auk-u-mt-2">
          <div class="o-flex o-flex--vertical-center">
            <h4 class="auk-toolbar-complex__title">Bestemmelingen</h4>
          </div>
          <Auk::Tabs @reversed="true" as |Tabs|>
            <Tabs.Tab
              @route="contacts.overview.mailing-lists">
              Verzendlijsten
            </Tabs.Tab>
            <Tabs.Tab
              @route="contacts.overview.persons">
              Personen
            </Tabs.Tab>
          </Auk::Tabs>
        </div>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      {{#if (eq this.router.currentRoute.name "contacts.overview.mailing-lists")}}
        <Group.Item>
          <Auk::Button @icon="add" @skin="primary" @route="contacts.new" class="auk-u-mr-2">
            Verzendlijst aanmaken
          </Auk::Button>
        </Group.Item>
      {{/if}}
      {{#if (eq this.router.currentRoute.name "contacts.overview.persons")}}
        <Group.Item>
          <Auk::Button @icon="add" @skin="primary" {{on "click" this.openContactItemModal}}>
            Contactpersoon aanmaken
          </Auk::Button>
        </Group.Item>
      {{/if}}
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>

{{#if this.showContactItemModal}}
  <ContactItem::Modal
    @isNewContact={{true}}
    @contact={{this.selectedContact}}
    @onCancel={{this.closeContactItemModal}}
    @onAddContact={{perform this.saveContactItem}}
  />
{{/if}}

{{outlet}}
