<div class="auk-scroll-wrapper">
  <div class="auk-scroll-wrapper__body">
    <div class="auk-u-my-4">
      {{#if @model.length}}
        <table class="auk-table">
          <thead>
            <tr>
              <Utils::ThSortable
                @label="Naam contactpersoon"
                @field="givenName"
                @currentSorting={{@sort}}
                @onChange={{@onSortChange}}
              />
              <Utils::ThSortable
                @label="E-mailadres"
                @field="mailAddress.value"
                @currentSorting={{@sort}}
                @onChange={{@onSortChange}}
              />
              <Utils::ThSortable
                @label="Telefoonnummer"
                @field="telephone.value"
                @currentSorting={{@sort}}
                @onChange={{@onSortChange}}
              />
              <Utils::ThSortable
                @label="Organisatie"
                @field="organizationName"
                @currentSorting={{@sort}}
                @onChange={{@onSortChange}}
              />
              <th>
                {{!-- open detail --}}
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each (sort-by @sort @model) as |row|}}
              <tr>
                <td class="auk-u-text-nowrap">
                  {{row.fullName}}
                </td>
                <td>
                  {{row.mailAddress.value}}
                </td>
                <td>
                  {{row.telephone.value}}
                </td>
                <td>
                  {{row.organizationName}}
                </td>
                <td>
                  <Auk::Button
                    @layout="icon-only"
                    @icon="chevron-right"
                    @skin="borderless"
                    {{on "click" (fn @onOpenContactItem row)}}
                  />
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <Auk::Toolbar>
          <Auk::Toolbar::Group  @position="left">
            <Auk::Toolbar::Item>
              <Auk::Pagination
                @page={{@page}}
                @size={{@size}}
                @nbOfItems={{@model.length}}
                @total={{@model.meta.count}}
                @onNextPage={{@onNextPage}}
                @onPreviousPage={{@onPreviousPage}}
              />
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group >
          <Auk::Toolbar::Group  @position="right">
            <Auk::Toolbar::Item>
              Contactpersonen per pagina
            </Auk::Toolbar::Item>
            <Auk::Toolbar::Item>
              <WebComponents::AuPageSize
                @selectedSize={{@size}}
                @onChange={{@onPageSizeChange}}
              />
            </Auk::Toolbar::Item>
          </Auk::Toolbar::Group >
        </Auk::Toolbar>
      {{else}}
        <Auk::Panel>
          <Auk::Panel::Body>
            <Auk::EmptyState @message={{@noDataMessage}} />
          </Auk::Panel::Body>
        </Auk::Panel>
      {{/if}}
    </div>
  </div>
</div>
