{{page-title this.pressRelease.title}}

<Auk::Navbar @skin="gray-100" @size="large">
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          {{on "click" (perform this.navigateBack)}}
        />
      </Group.Item>
      <Group.Item>
        <div class="auk-overline auk-u-block auk-u-text-muted">
          Persberichten
        </div>
        <h2 class="auk-toolbar__title">
          {{this.pressRelease.title}}
        </h2>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item>
        {{#if this.savePressRelease.last.isError}}
          <Auk::StatusPill @status="error">
            Opslaan mislukt
          </Auk::StatusPill>
        {{else}}
          <Auk::StatusPill @status="success">
            {{dayjs-from-now this.pressRelease.modified}} opgeslagen
          </Auk::StatusPill>
        {{/if}}
      </Group.Item>
      <Group.Item>
        <Auk::DropdownMenu
          @label="Acties"
          as |Menu|>
          <Menu.Item {{on "click" (perform this.savePressRelease)}}>
            Opslaan
          </Menu.Item>
          <Menu.Item  {{on "click" (perform this.saveAndClose)}}>
            Opslaan en sluiten
          </Menu.Item>
        </Auk::DropdownMenu>
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>

<div class="auk-o-grid">
  <div class="auk-o-grid-col-10">
    <PressRelease::Form
      @pressRelease={{this.pressRelease}}
      {{!-- Collaborators of a shared press-release only get a limited view --}}
      @isSharedView={{not-eq this.currentSession.organization.uri this.pressRelease.creator.uri}}
    />
  </div>
  <div class="auk-o-grid-col-2 auk-u-mt-8">
    <div>
      <h3 class="auk-h3">Aangemaakt door</h3>
      <Auk::Avatar @icon="user" @name={{this.pressRelease.creator.shortName}}>
        <p>{{this.pressRelease.creator.shortName}}</p>
      </Auk::Avatar>
    </div>

    <div class="auk-u-mt-8">
      <h3 class="auk-h3">Gedeeld met</h3>
      <div class="auk-o-flex auk-o-flex--vertical">
        {{#each this.collaboration.collaborators as |collaborator|}}
          {{#let (eq collaborator.uri this.pressRelease.creator.uri) as |isCreator|}}
            {{#unless isCreator}}
              <div class="auk-u-mb-4">
                <Auk::Avatar @icon="user" @name={{collaborator.shortName}}>
                  <p>{{collaborator.shortName}}</p>
                  {{#unless this.savePressRelease.isRunning}}
                    {{!-- Hide status during saving of changes to enforce refresh afterwards --}}
                    <Collaboration::ApprovalStatus
                      @pressRelease={{this.pressRelease}}
                      @collaborator={{collaborator}} />
                  {{/unless}}
                </Auk::Avatar>
              </div>
            {{/unless}}
          {{/let}}
        {{/each}}
      </div>
    </div>

    <div class="auk-u-mt-4">
      <h3 class="auk-h3">Historiek</h3>
      <div class="history-timeline">
        {{#each (sort-by "startDate:desc" this.pressRelease.pressReleaseActivities) as |activity|}}
          <PressRelease::HistoryStep @activity={{activity}} />
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{#if this.showConfirmationModal}}
  <DiscardChangesModal
    @loading={{this.confirmNavigationBack.isRunning}}
    @onCancel={{this.cancelNavigationBack}}
    @onConfirm={{perform this.confirmNavigationBack}}
  />
{{/if}}

{{outlet}}
