{{page-title this.pressRelease.title}}

<Auk::Navbar @skin="gray-100" @size="large">
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          @route="press-releases.overview.shared"
        />
      </Group.Item>
      <Group.Item>
        <div class="auk-overline auk-u-block auk-u-text-muted">
          Persberichten
        </div>
        <h2 class="auk-toolbar__title">
          {{this.pressRelease.title}}
        </h2>
      </Group.Item>
    </Toolbar.Group>
     <Toolbar.Group @position="right" as |Group|>
      <Group.Item>
        <Auk::StatusPill @status="success">
          {{dayjs-from-now this.pressRelease.modified}} opgeslagen
        </Auk::StatusPill>
      </Group.Item>
      <Group.Item>
        <Auk::Button
          @skin="secondary"
          @route="press-releases.press-release.shared.edit"
          @disabled={{this.isClaimedByOtherUser}}
        >
          Bewerken
        </Auk::Button>
      </Group.Item>
      {{#if (eq this.currentSession.organization.uri this.pressRelease.creator.uri)}}
        <Group.Item>
          <Auk::Button
            @skin="danger-primary"
            @loading={{this.stopCoEdit.isRunning}}
            {{on "click" (perform this.stopCoEdit)}}
          >
            Stop co-editeren
          </Auk::Button>
        </Group.Item>
      {{else}}
        {{#unless this.hasApproved}}
          <Group.Item>
            <Auk::Button
              @skin="primary"
              {{on "click" this.openApprovalModal}}
            >
              Goedkeuren
            </Auk::Button>
          </Group.Item>
        {{/unless}}
      {{/if}}
     </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>

<div class="auk-o-grid">
  {{#if this.isClaimedByOtherUser}}
    <div class="auk-o-grid-col-12 auk-u-m-8">
      <div class="auk-alert auk-alert--warning">
          <div class="auk-alert__body">
              <div class="auk-alert__text">
                <p class="auk-alert__message">
                  {{this.tokenClaimUser.fullName}} is dit persbericht momenteel aan het bewerken.
                </p>
              </div>
          </div>
      </div>
    </div>
  {{/if}}
  <div class="auk-o-grid-col-10">
    <PressRelease::ReadOnly
      @pressRelease={{this.pressRelease}}
      {{!-- Collaborators of a shared press-release only get a limited view --}}
      @isSharedView={{not-eq this.currentSession.organization.uri this.pressRelease.creator.uri}}
    />
  </div>
  <div class="auk-o-grid-col-2 auk-u-mt-8">
    <div>
      <h3 class="auk-h3">Aangemaakt door</h3>
      <Auk::Avatar @icon="user" @name={{this.pressRelease.creator.shortName}}>
        <p>{{or this.pressRelease.creator.shortName this.pressRelease.creator.name}}</p>
      </Auk::Avatar>
    </div>

    <div class="auk-u-mt-8">
      <h3 class="auk-h3">Gedeeld met</h3>
      <div class="auk-o-flex auk-o-flex--vertical">
        {{#each this.collaboration.collaborators as |collaborator|}}
          {{#let (eq collaborator.uri this.pressRelease.creator.uri) as |isCreator|}}
            {{#unless isCreator}}
              <div class="auk-u-mb-4">
                <Auk::Avatar @icon="user" @name={{collaborator.shortName}}>
                  <p>{{or collaborator.shortName collaborator.name}}</p>
                  {{#if (or
                       (not-eq collaborator.uri this.currentSession.organization.uri)
                       (not this.confirmApproval.isRunning)
                       )}}
                    {{!-- Hide status for logged in collaborator during approval to enforce refresh afterwards --}}
                    <Collaboration::ApprovalStatus
                      @pressRelease={{this.pressRelease}}
                      @collaborator={{collaborator}}
                    />
                  {{/if}}
                </Auk::Avatar>
              </div>
            {{/unless}}
          {{/let}}
        {{/each}}
      </div>
    </div>

    <div class="auk-u-mt-4">
      <h3 class="auk-h3">Historiek</h3>
      <div class="historic-timeline">
        {{#each (sort-by "startDate:desc" this.pressRelease.pressReleaseActivities) as |activity|}}
          <PressRelease::HistoryStep @activity={{activity}} />
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{#if this.showApprovalModal}}
  <Collaboration::ApprovalConfirmationModal
    @loading={{this.confirmApproval.isRunning}}
    @onCancel={{this.closeApprovalModal}}
    @onConfirm={{perform this.confirmApproval}}
    @creator={{this.pressRelease.creator}}
  />
{{/if}}

{{#if this.showStopCoEditWarningModal}}
  <Collaboration::StopCoEditWarningModal
    @loading={{this.confirmStopCoEdit.isRunning}}
    @onCancel={{this.cancelStopCoEdit}}
    @onConfirm={{perform this.confirmStopCoEdit}}
  />
{{/if}}

{{outlet}}
