{{page-title this.pressRelease.title}}

<Auk::Navbar @skin="gray-100" @size="large">
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          @route="press-releases.overview.shared"
        />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <div class="auk-overline auk-u-block auk-u-muted">
          Persberichten
        </div>
        <h2 class="auk-toolbar__title">
          {{this.pressRelease.title}}
        </h2>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
     <Auk::Toolbar::Group @position="right">
      <Auk::Toolbar::Item>
        <Auk::StatusPill @status="done">
          {{dayjs-from-now this.pressRelease.modified}} opgeslagen
        </Auk::StatusPill>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="secondary"
          @route="press-releases.press-release.shared.edit"
          @disabled={{this.isClaimedByOtherUser}}
        >
          Bewerken
        </Auk::Button>
      </Auk::Toolbar::Item>
      {{#if this.isPressReleaseOwner}}
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="danger-primary"
            @loading={{this.stopCoEdit.isRunning}}
            {{on "click" (perform this.stopCoEdit)}}
          >
            Stop co-editeren
          </Auk::Button>
        </Auk::Toolbar::Item>
      {{else}}
        {{#unless this.hasApproved}}
          <Auk::Toolbar::Item>
            <Auk::Button
              @skin="primary"
              {{on "click" this.openApprovalModal}}
            >
              Goedkeuren
            </Auk::Button>
          </Auk::Toolbar::Item>
        {{/unless}}
      {{/if}}
     </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

<div class="auk-o-grid">
  {{#if this.isClaimedByOtherUser}}
    <div class="auk-o-grid-col-12 auk-u-m-8">
      <div class="auk-alert auk-alert--warning">
          <div class="auk-alert__body">
              <div class="auk-alert__text">
                <p class="auk-alert__message">
                  {{this.tokenClaimUser.fullName}} is dit persbericht momenteel aan het bewerken.
                </p>
              </div>
          </div>
      </div>
    </div>
  {{/if}}
  <div class="auk-o-grid-col-10">
    <PressRelease::ReadOnly
      @pressRelease={{this.pressRelease}}
      @isUserCreator={{this.isPressReleaseOwner}}/>
  </div>
  <div class="auk-o-grid-col-2 auk-u-mt-8">
    <div>
      <h3 class="auk-h3">Aangemaakt door</h3>
      <Auk::Avatar @icon="user" @name={{this.pressRelease.creator.shortName}}>
        <p>{{this.pressRelease.creator.shortName}}</p>
      </Auk::Avatar>
    </div>

    <div class="auk-u-mt-8">
      <h3 class="auk-h3">Gedeeld met</h3>
      <div class="auk-o-flex auk-o-flex--vertical">
        {{#each this.collaboration.collaborators as |collaborator|}}
          {{#unless (eq collaborator.uri this.pressRelease.creator.uri)}}
            <div class="auk-u-mb-4">
              <Auk::Avatar @icon="user" @name={{collaborator.shortName}}>
                <p>{{collaborator.shortName}}</p>
                {{#unless (and
                     (eq collaborator.uri this.currentSession.organization.uri)
                     this.confirmApproval.isRunning
                     )}}
                  {{!-- Hide status during approval to enforce refresh afterwards --}}
                  <Collaboration::ApprovalStatus
                    @pressRelease={{this.pressRelease}}
                    @collaborator={{collaborator}}
                  />
                {{/unless}}
              </Auk::Avatar>
            </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>

    <div class="auk-u-mt-4">
      <h3 class="auk-h3">Historiek</h3>
      {{#each (sort-by "startDate:desc" this.pressRelease.pressReleaseActivities) as |activity|}}
        <PressRelease::ActivityStep
          @activity={{activity}}
          @config={{this.CONFIG}}
          @creator={{this.pressRelease.creator}}
          @collaborators={{this.collaborators}}/>
      {{/each}}
    </div>
  </div>
</div>

{{#if this.showApprovalModal}}
  <Collaboration::ApprovalConfirmationModal
    @loading={{this.confirmApproval.isRunning}}
    @onCancel={{this.closeApprovalModal}}
    @onConfirm={{perform this.confirmApproval}}
    @creator={{this.pressRelease.creator}}
  />
{{/if}}

{{#if this.showStopCoEditWarningModal}}
  <Collaboration::StopCoEditWarningModal
    @loading={{this.confirmStopCoEdit.isRunning}}
    @onCancel={{this.cancelStopCoEdit}}
    @onConfirm={{perform this.confirmStopCoEdit}}
  />
{{/if}}

{{outlet}}
