{{page-title "Lezen"}}
<Auk::Navbar @skin="gray-100" @size="large">
  <Auk::Toolbar>
    <Auk::Toolbar::Group  @position="left">
      <Auk::Toolbar::Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          @route="press-releases.overview.shared"
        />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <div class="auk-overline auk-u-block auk-u-muted">
          Persberichten {{this.a}}
        </div>
        <h2 class="auk-toolbar__title">
          {{this.model.title}}
        </h2>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
     <Auk::Toolbar::Group  @position="right">
      <Auk::Toolbar::Item>
        <Auk::StatusPill @status="done">
          {{dayjs-from-now this.model.modified}} opgeslagen
        </Auk::StatusPill>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="secondary"
          @route="press-releases.press-release.shared.edit"
          @disabled={{not this.isEditPossible}}
        >Bewerken
        </Auk::Button>
      </Auk::Toolbar::Item>
      {{#if (and (not this.didUserApprove) (not-eq this.currentSession.organization.uri this.model.creator.uri))}}
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary"
            {{on "click" this.openApprovalModal}}
          >GoedKeuren
          </Auk::Button>
        </Auk::Toolbar::Item>
      {{/if}}
     </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

<div class="auk-o-grid">
  {{#unless this.isEditPossible}}
    <div class="auk-o-grid-col-12 auk-u-m-8">
      <div class="auk-alert auk-alert--warning ">
          <div class="auk-alert__body">
              <div class="auk-alert__text">
                  <p class="auk-alert__message">{{this.editingUser.fullName}} is dit persbericht momenteel aan het bewerken.  {{this.isEditPossible}}</p>
              </div>
          </div>
      </div>
    </div>
  {{/unless}}
  <div class="auk-o-grid-col-10">
    <PressRelease::ReadOnly
      @pressRelease={{this.model}}
      @isUserCreator={{eq this.currentSession.organization.uri this.model.creator.uri}}/>
  </div>
  <div class="auk-o-grid-col-2 auk-u-mt-8">
      <h3 class="auk-h3">Aangemaakt door</h3>
        <h4 class="auk-h4">
          {{this.model.creator.shortName}}
        </h4>
      <h3 class="auk-h3">Gedeeld met</h3>
      <div class="auk-o-flex auk-o-flex--vertical">
        {{#each this.collaborators as |collaborator|}}
          {{#if (not-eq collaborator.uri this.model.creator.uri)}}
            <h4 class="auk-h4 auk-u-mb">
              {{collaborator.shortName}}
            </h4>
            <Collaboration::ApprovalStatus
              @collaborator={{collaborator}}
              @collaborationActivity={{this.collaboration.approvalActivities}}
            />
          {{/if}}
        {{/each}}
      </div>
  </div>
</div>

{{#if this.showApprovalModal}}
  <ApprovePressReleaseModal
    @loading={{this.confirmApproval.isRunning}}
    @onCancel={{this.closeApprovalModal}}
    @onConfirm={{perform this.confirmApproval}}
    @creator={{this.model.creator}}
  />
{{/if}}

{{outlet}}
