{{page-title "Inactieve bronnen"}}

<PageTitleComponent id="contact-page-title">
  <div>
    <h2>Bronnen</h2>
    <WebComponents::AuNavbar @border="" @auto="true" @skin="gray-100">
      <WebComponents::AuToolbar class="header-toolbar">
        <WebComponents::AuToolbar::Group @position="left">
          <div class="main-header-container">
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuTabs>
                  <WebComponents::AuTab class="nav-component" @route="sources.active">{{capitalize "actief"}}</WebComponents::AuTab>
                  <WebComponents::AuTab class="nav-component" @route="sources.inactive">{{capitalize "inactief"}}</WebComponents::AuTab>
              </WebComponents::AuTabs>
            </WebComponents::AuToolbar::Item>
          </div>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuNavbar>
  </div>
  <WebComponents::AuButton @skin="primary" {{ on 'click' this.navigateToNewSource}}>
    <WebComponents::AuIcon
      @name='add'
      @size='small'
      class="margin-right-small"
    />
      Bron Aanmaken
    </WebComponents::AuButton>
</PageTitleComponent>
<Contact::Table
  @model={{this.model}}
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  @nextPage={{this.nextPage}}
  @prevPage={{this.prevPage}}
  @setSizeOption={{this.setSizeOption}}
/>
