<Auk::Navbar @skin="gray-100" @size="large">
  <Auk::Toolbar>
    <Auk::Toolbar::Group  @position="left">
      <Auk::Toolbar::Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          {{on "click" this.navigateBack}}
        />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <div class="auk-overline auk-u-block auk-u-text-muted">
          Perscontacten
        </div>
        <h2 class="auk-toolbar__title">
          Nieuwe perscontact aanmaken
        </h2>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
    <Auk::Toolbar::Group  @position="right">
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="primary"
          {{on "click" (perform this.saveChanges)}}
        >
          Perscontact aanmaken
        </Auk::Button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
  </Auk::Toolbar>
</Auk::Navbar>

<Contact::Form @source={{this.source}} />

{{#if this.showConfirmationModal}}
  <DiscardChangesModal
    @onCancel={{this.cancelNavigationBack}}
    @onConfirm={{this.confirmNavigationBack}}
  />
{{/if}}