<Auk::Navbar @skin="gray-100" @size="large">
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          {{on "click" this.navigateBack}}
        />
      </Group.Item>
      <Group.Item>
        <div class="auk-overline auk-u-block auk-u-text-muted">
          Perscontacten
        </div>
        <h2 class="auk-toolbar__title">
          Nieuwe perscontact aanmaken
        </h2>
      </Group.Item>
    </Toolbar.Group>
    <Toolbar.Group @position="right" as |Group|>
      <Group.Item>
        <Auk::Button
          @skin="primary"
          {{on "click" (perform this.saveChanges)}}
        >
          Perscontact aanmaken
        </Auk::Button>
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>

<Contact::Form @source={{this.source}} />

{{#if this.showConfirmationModal}}
  <DiscardChangesModal
    @onCancel={{this.cancelNavigationBack}}
    @onConfirm={{this.confirmNavigationBack}}
  />
{{/if}}