<Auk::Navbar @skin="gray-100" @size="large">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          {{on "click" this.navigateBack}}
        />
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <div class="auk-overline auk-u-block auk-u-muted">
          Bronnen
        </div>
        <h2 class="auk-toolbar__title">
          Nieuwe bron aanmaken
        </h2>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        <Auk::Button
          @skin="primary"
          {{on "click" (perform this.saveChanges)}}
        >
          Bron aanmaken
        </Auk::Button>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</Auk::Navbar>

<Contact::Form @source={{this.source}} />

{{#if this.showConfirmationModal}}
  <DiscardChangesModal
    @onCancel={{this.cancelNavigationBack}}
    @onConfirm={{this.confirmNavigationBack}}
  />
{{/if}}