<Auk::Navbar @skin="gray-100" @size="large">
  <Auk::Toolbar>
    <Auk::Toolbar::Group  @position="left">
      <Auk::Toolbar::Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          {{on "click" (perform this.navigateBack)}}
        />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <div class="auk-overline auk-u-block auk-u-muted">
          Bronnen
        </div>
        <h2 class="auk-toolbar__title">
          {{this.source.fullName}}
        </h2>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
    <Auk::Toolbar::Group  @position="right">
      <Auk::Toolbar::Item>
        {{#if this.saveChanges.last.isError}}
          <Auk::StatusPill @status="error">
            Opslaan mislukt
          </Auk::StatusPill>
        {{else}}
          <Auk::StatusPill @status="done">
            {{dayjs-from-now this.source.modified}} opgeslagen
          </Auk::StatusPill>
        {{/if}}
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="danger-secondary"
          {{on "click" this.openDeleteSourceModal}}
        >
          Verwijderen
        </Auk::Button>
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <Auk::Button
          @skin="primary"
          {{on "click" (perform this.saveChanges)}}
        >
          Opslaan
        </Auk::Button>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
  </Auk::Toolbar>
</Auk::Navbar>

<Contact::Form @source={{this.source}} />

{{#if this.showConfirmationModal}}
  <DiscardChangesModal
    @loading={{this.confirmNavigationBack.isRunning}}
    @onCancel={{this.cancelNavigationBack}}
    @onConfirm={{perform this.confirmNavigationBack}}
  />
{{/if}}

{{#if this.showDeleteSourceModal}}
  <Contact::DeleteConfirmationModal
    @loading={{this.confirmSourceDeletion.isRunning}}
    @onCancel={{this.closeDeleteSourceModal}}
    @onConfirm={{perform this.confirmSourceDeletion}}
    @source={{this.source}}
  />
{{/if}}
