<Auk::Navbar @skin="gray-100" @size="large">
  <WebComponents::AuToolbar>
    <WebComponents::AuToolbar::Group @position="left">
      <WebComponents::AuToolbar::Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          @route="sources.overview"
        />
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <div class="auk-overline auk-u-block auk-u-muted">
          Bronnen
        </div>
        <h2 class="auk-toolbar__title">
          {{this.model.fullName}}
        </h2>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
    <WebComponents::AuToolbar::Group @position="right">
      <WebComponents::AuToolbar::Item>
        {{#if this.saveSource.last.isError}}
          <WebComponents::AuStatusPill @status="error">
            Opslaan mislukt
          </WebComponents::AuStatusPill>
        {{else}}
          <WebComponents::AuStatusPill @status="done">
            {{dayjs-from-now this.model.modified}} opgeslagen
          </WebComponents::AuStatusPill>
        {{/if}}
      </WebComponents::AuToolbar::Item>
      <WebComponents::AuToolbar::Item>
        <Auk::Button
          @skin="primary"
          {{on "click" (perform this.saveSource)}}
        >
          Opslaan
        </Auk::Button>
      </WebComponents::AuToolbar::Item>
    </WebComponents::AuToolbar::Group>
  </WebComponents::AuToolbar>
</Auk::Navbar>

<Contact::Form @source={{this.model}} />