<PageTitleComponent>
  <div {{ did-insert this.onLoadResource}} class="title-indentification">
    <WebComponents::AuIcon
      @name="chevron-left"
      @size="large"
      @iconSkinColor="primary"
      class="margin-right-small"
      {{ on "click" this.navigateToResource }}
    />
    <div>
      <h2 class="auk-u-muted">Bronnen</h2>
      <h1 class="auk-toolbar-complex__title">{{this.resource.fullName}}</h1>
    </div>
  </div>
  <div>
    <WebComponents::AuButton @skin="secondary" {{ on 'click' this.openActionModal}}>
        Acties<WebComponents::AuIcon @name="chevron-down"/>
    </WebComponents::AuButton>
    <WebComponents::AuButton @skin="primary" {{ on 'click' this.saveResource}}>
        Opslaan
    </WebComponents::AuButton>
  </div>
</PageTitleComponent>
{{!-- <Contact::Form /> --}}
<Contact::Form @resource={{this.resource}} @onInput={{this.onInput}} />