{{page-title "Verzendlijsten"}}

<div class="auk-u-m-8">
  <Auk::Toolbar @size="large" as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <h1 class="auk-h1">Verzendlijsten</h1>
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>

  <MailingList::Table
    @model={{this.model}}
    @sort={{this.sort}}
    @page={{this.page}}
    @size={{this.size}}
    @onSortChange={{this.setSort}}
    @onNextPage={{this.nextPage}}
    @onPreviousPage={{this.prevPage}}
    @onPageSizeChange={{this.setPageSize}}
    @noDataMessage="Geen verzendlijsten gevonden"
  />
</div>

{{outlet}}