{{page-title "Personen"}}

<div class="auk-u-m-8">
  <Auk::Toolbar @size="large">
    <Auk::Toolbar::Group  @position="left">
      <Auk::Toolbar::Item>
        <h1 class="auk-h1">Personen</h1>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>

  <ContactItem::Table
    @model={{@model}}
    @sort={{this.sort}}
    @page={{this.page}}
    @size={{this.size}}
    @onSortChange={{this.setSort}}
    @onNextPage={{this.nextPage}}
    @onPreviousPage={{this.prevPage}}
    @onPageSizeChange={{this.setPageSize}}
    @onOpenContactItem={{this.openContactItem}}
    @isEditEnabled={{true}}
    @noDataMessage="Geen contactpersonen gevonden"
  />
</div>

{{#if this.showContactItemModal}}
  <ContactItem::Modal
    @isNewContact={{false}}
    @contact={{this.selectedContact}}
    @onCancel={{this.cancelContactModal}}
    @onChangeContact={{this.updateContact}}
    @onDeleteContact={{this.deleteContact}}
  />
{{/if}}

{{outlet}}
