<Auk::Navbar @skin="gray-100" @size="large">
  <Auk::Toolbar>
    <Auk::Toolbar::Group  @position="left">
      <Auk::Toolbar::Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          {{on "click" (perform this.navigateBack)}}
        />
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <div class="auk-overline auk-u-block auk-u-muted">
          Persberichten
        </div>
        <h2 class="auk-toolbar__title">
          {{this.pressRelease.title}}
          {{#if this.pressRelease.publicationEvent}}
            {{#if this.pressRelease.publicationEvent.isPublished}}
              <Auk::Pill class="auk-u-ml">
                Gepubliceerd op {{dayjs-format this.pressRelease.publicationEvent.plannedStartDate outputFormat="DD-MM-YYYY [om] HH:mm"}}
              </Auk::Pill>
            {{/if}}
            {{#if this.pressRelease.publicationEvent.isPlanned}}
              <Auk::Pill class="auk-u-ml">
                Wordt gepubliceerd op {{dayjs-format this.pressRelease.publicationEvent.plannedStartDate outputFormat="DD-MM-YYYY [om] HH:mm"}}
              </Auk::Pill>
            {{/if}}
          {{else}}
            {{#if this.pressRelease.collaboration}}
              <Auk::Pill class="auk-u-ml">
                Gedeeld persbericht
              </Auk::Pill>
            {{else}}
              <Auk::Pill class="auk-u-ml">
                Concept
              </Auk::Pill>
            {{/if}}
          {{/if}}
        </h2>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
    <Auk::Toolbar::Group  @position="right">
      <Auk::Toolbar::Item>
        {{#if this.savePressRelease.last.isError}}
          <Auk::StatusPill @status="error">
            Opslaan mislukt
          </Auk::StatusPill>
        {{else}}
        <Auk::StatusPill @status="done">
          {{dayjs-from-now this.pressRelease.modified}} opgeslagen
        </Auk::StatusPill>
        {{/if}}
      </Auk::Toolbar::Item>
      <Auk::Toolbar::Item>
        <DropdownMenu
          @label="Acties"
          as |Menu|>
          <Menu.Item {{on "click" this.saveChanges}}>
            Opslaan
          </Menu.Item>
          {{#if (and (not this.pressRelease.collaboration) (not this.pressRelease.publicationEvent))}}
            <Menu.Item {{on "click" this.openOrganizationModal}}>
              Co-editeren
            </Menu.Item>
          {{/if}}
          <Menu.Item  {{on "click" this.saveChangesAndNavigateBack}}>
            Opslaan en sluiten
          </Menu.Item>
          {{#if this.pressRelease.publicationEvent.isPlanned}}
            {{!-- expand if with or when more danger colored buttens are added --}}
            <Menu.Divider />
          {{/if}}
          {{#if this.pressRelease.publicationEvent.isPlanned}}
            <Menu.Item
              class="auk-menu__item auk-menu__item--danger"
              {{on "click" (perform this.revokePressRelease)}}>
                Intrekken
            </Menu.Item>
          {{/if}}
          {{#if (and (or (not this.pressRelease.publicationEvent) this.pressRelease.publicationEvent.isPlanned) (not this.pressRelease.collaboration))}}
            <Menu.Item
              class="auk-menu__item auk-menu__item--danger"
              {{on "click" this.openDeletionModal}}>
                Verwijderen
            </Menu.Item>
          {{/if}}
        </DropdownMenu>
      </Auk::Toolbar::Item>
      {{#unless this.pressRelease.publicationEvent.isPublished}}
        <Auk::Toolbar::Item>
          <DropdownMenu
            @skin="primary"
            @label="Publiceren"
            @disabled={{this.isPublishDisabled}}
            as |Menu|>
            <Menu.Item {{on "click" this.openPublicationModal}}>
              Nu publiceren
            </Menu.Item>
            <Menu.Item {{on "click" this.openPublicationPlanningModal}}>
              {{#if this.model.publicationEvent.isPlanned}}
                Planning bewerken
              {{else}}
                Later publiceren
              {{/if}}
            </Menu.Item>
          </DropdownMenu>
        </Auk::Toolbar::Item>
      {{/unless}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>

<PressRelease::Form
  @pressRelease={{this.pressRelease}}
  {{!-- When in the edit route of a non-shared press-release user can always edit --}}
  @isUserCreator={{true}}
/>

{{#if this.showPublicationModal}}
  <PressRelease::PublicationModal
    @onCancel={{this.closePublicationModal}}
    @onPublish={{perform this.publish}}
    @loading={{this.publish.isRunning}}
  />
{{/if}}

{{#if this.showPublicationPlanningModal}}
  <PressRelease::PublicationPlanningModal
    @plannedDate={{this.model.publicationEvent.plannedStartDate}}
    @onCancel={{this.closePublicationPlanningModal}}
    @onPublish={{perform this.publish}}
    @loading={{this.publish.isRunning}}
  />
{{/if}}

{{#if this.showConfirmationModal}}
  <DiscardChangesModal
    @loading={{this.confirmNavigationBack.isRunning}}
    @onCancel={{this.cancelNavigationBack}}
    @onConfirm={{perform this.confirmNavigationBack}}
  />
{{/if}}

{{#if this.showDeletionModal}}
  <DeletePressReleaseModal
    @loading={{this.confirmDeletion.isRunning}}
    @onCancel={{this.cancelDeletion}}
    @onConfirm={{perform this.confirmDeletion}}
  />
{{/if}}

{{#if this.showOrganizationModal}}
  <PressRelease::OrganizationModal
    @loading={{this.coEdit.isRunning}}
    @onCancel={{this.closeOrganizationModal}}
    @onConfirm={{perform this.coEdit}}
  />
{{/if}}

{{outlet}}
