<Auk::Modal>
  <Auk::Modal::Header
    @title="Persbericht co-editeren"
    @onClose={{@onCancel}}
  />
  <Auk::Modal::Body>
    <div>
      <InputField::OrganizationSelect
        @label="Organizatie(s)"
        @selected={{this.externalCollaborators}}
        @filterUserOrganization={{true}}
        @multiple={{true}}
        @onChange={{this.selectExternalCollaborators}}
      />
    </div>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Button
      @skin="primary"
      @disabled={{this.isDisabled}}
      @loading={{@loading}}
      {{on "click" (fn @onConfirm this.collaborators)}}
    >
      Uitnodigen tot co-editeren
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>
