{{page-title "Niet actieve bronnen"}}

<div class="auk-u-m-8">
  <Auk::Toolbar @size="large">
    <Auk::Toolbar::Group  @position="left">
      <Auk::Toolbar::Item>
        <h1 class="auk-h1">Niet actieve bronnen</h1>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group >
  </Auk::Toolbar>

  <Contact::Table
    @model={{this.model}}
    @sort={{this.sort}}
    @page={{this.page}}
    @size={{this.size}}
    @onSortChange={{this.setSort}}
    @onNextPage={{this.nextPage}}
    @onPreviousPage={{this.prevPage}}
    @onPageSizeChange={{this.setPageSize}}
    @noDataMessage="Geen niet actieve bronnen gevonden"
  />
</div>

{{outlet}}