<Auk::Modal>
  <Auk::Modal::Header
    @title="Wilt u dit perscontact verwijderen?"
    @closeable={{false}}
  />
  <Auk::Modal::Body>
    <p>
      Bent u zeker dat u het perscontact <strong>{{@source.fullName}}</strong> wil verwijderen?
    </p>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Button
      @skin="danger-primary"
      @loading={{@loading}}
      @icon="delete"
      {{on "click" @onConfirm}}
    >
      Verwijderen
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>
