{{#unless this.loadData.isRunning}}
  <div class="auk-u-mt-8 auk-container--small auk-container--center">
    <div class="auk-u-mt-8">
      {{#unless @source.isNew}}
        <h2 class="auk-h2">Status</h2>
        <div class="auk-form-group-layout auk-form-group-layout--standard">
          <InputField::ContactStatusRadio
            @label="Deze contactpersoon is momenteel"
            @value={{this.selectedStatus}}
            @onChange={{this.setContactStatus}}
            class="auk-form-group"
          />
        </div>
      {{/unless}}
    </div>

    <div class="auk-u-mt-8">
      <h2 class="auk-h2">Persoonlijke informatie</h2>
      <div class="auk-o-grid auk-form-group-layout auk-form-group-layout--grid">
        <div class="auk-o-grid-col-6 auk-form-group">
          <Auk::Label for="given-name">
            Voornaam
          </Auk::Label>
          <Auk::Input
            type="text"
            id="given-name"
            @block={{true}}
            @value={{mut @source.givenName}}
            {{on "change" this.setFullName}}
          />
        </div>
        <div class="auk-o-grid-col-6 auk-form-group">
          <Auk::Label for="family-name">
            Achternaam
          </Auk::Label>
          <Auk::Input
            type="text"
            id="family-name"
            @block={{true}}
            @value={{mut @source.familyName}}
            {{on "change" this.setFullName}}
          />
        </div>
        <div class="auk-o-grid-col-12 auk-form-group">
          <Auk::Label for="contact-role">
            Functie
          </Auk::Label>
          <Auk::Input
            type="text"
            id="contact-role"
            @block={{true}}
            @value={{mut @source.role}}
          />
        </div>
        <div class="auk-o-grid-col-12">
          <InputField::OrganizationSelect
            @label="Entiteit"
            @selected={{@source.organization}}
            @onChange={{this.selectOrganization}}
          />
        </div>
      </div>
    </div>

    <div class="auk-u-mt-8">
      <h2 class="auk-h2">Contact informatie</h2>
      <div class="auk-o-grid auk-form-group-layout auk-form-group-layout--grid">
        <div class="auk-o-grid-col-6 auk-form-group">
          <Auk::Label for="telephone">
            Telefoonnummer
          </Auk::Label>
          <Auk::Input
            type="text"
            id="telephone"
            @block={{true}}
            @value={{mut this.telephone.value}}
          />
        </div>
        <div class="auk-o-grid-col-6 auk-form-group">
          <Auk::Label for="mobile-phone">
            Mobiel nummer
          </Auk::Label>
          <Auk::Input
            type="text"
            id="mobile-phone"
            @block={{true}}
            @value={{mut this.mobilePhone.value}}
          />
        </div>
        <div class="auk-o-grid-col-12 auk-form-group">
          <Auk::Label for="email">
            E-mailadres
          </Auk::Label>
          <Auk::Input
            type="text"
            id="email"
            @block={{true}}
            @value={{mut this.mailAddress.value}}
          />
        </div>
      </div>
    </div>

    <div class="auk-u-mt-8">
      <h2 class="auk-h2">Toon contact informatie</h2>
      <div class="auk-o-grid auk-form-group-layout auk-form-group-layout--grid">
        Publication channels here
        {{!--       <InputField::SourceInfoPublicationChannels
          @publicationChannels={{if @source @source.publicatiekanalen}}
          @onInput={{this.onInput}} />  --}}
        {{!-- @onInput={{action "onPublicationChannelChange"}} --}}
      </div>
    </div>
  </div>
{{/unless}}