<div class="form-container" {{ did-insert (fn this.onFormRender @source)}}>
  {{#if @source}}
  <Shared::Header @name="Status">
    <InputField::ContactStatusRadio
      @onInput={{this.onInput}}
      @value={{if @source @source.contactStatus ''}}
    />
  </Shared::Header>
  {{/if}}
  <Shared::Header @name="Persoonlijke informatie">
    <div class="flex-row">
      <InputField::InputWithLabel
        class="half-width"
        @value={{if @source @source.givenName ''}}
        id="givenName"
        @label="Voornaam"
        @onInput={{this.onInput}}
      />
      <InputField::InputWithLabel
        class="half-width"
        @value={{if @source @source.familyName ''}}
        id="familyName"
        @label="Achternaam"
        @onInput={{this.onInput}}
      />
    </div>
    <InputField::InputWithLabel
        @value={{if @source @source.role ''}}
        id="role"
        @label="Functie"
        @onInput={{this.onInput}}
    />
    <InputField::OrganizationSelect
      @label="Entiteit"
      @changeOrganization={{this.onInput}}
      @value={{if @source @source.organization ''}}
    ></InputField::OrganizationSelect>
  </Shared::Header>
  <Shared::Header @name="Contact informatie">
    <div class="flex-row">
      <InputField::InputWithLabel
        class="half-width"
        id="telephone"
        @label="Telefoon"
        @onInput={{this.onInput}}
        @value={{if @source @source.telephone ''}}
      />
      <InputField::InputWithLabel
        class="half-width"
        id="mobilePhone"
        @label="Mobiel nummer"
        @optional="true"
        @onInput={{this.onInput}}
        @value={{if @source @source.mobilePhone ''}}
      />
    </div>
    <InputField::InputWithLabel
      class="full-width-input"
      id="mailAddress"
      @label="E-mailadres"
      @onInput={{this.onInput}}
        @value={{if @source @source.mailAddress ''}}
    />
  </Shared::Header>
  <Shared::Header @name="Toon contact informatie">
    <InputField::SourceInfoPublicationChannels
      @publicationChannels={{if @source @source.publicatiekanalen}}
      @onInput={{this.onInput}}
      {{!-- @onInput={{action "onPublicationChannelChange"}} --}}
    />
  </Shared::Header>

</div>



{{!-- used only with existing sources --}}
{{!-- <InputField::ContactStatusRadio @onInput={{this.onRadioSelected}}></InputField::ContactStatusRadio> --}}